@import 'reset';
@import 'variables';
@import 'nav_bar';
@import 'media_query';
@import 'login_form';
@import 'listing-show';
@import 'listing-index';
@import 'buttons';
@import 'spinner';
@import 'modal';

.home-page {
  display: flex;
  overflow-y: hidden;
  height: 95vh;
}

.listing-index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow-y: scroll;
}  

#map-container {
  width: 55vw;
}

.welcome-banner {
  width: 100%;
  height: 500px;
}

  .header-link {
    text-decoration: none;
  }

