@import 'variables';
@import 'nav_bar';
@import 'media_query';
@import 'login_form';
@import 'listing';


.home-page {
  display: flex;
  overflow-y: hidden;
  height: 95vh;
}

.listing-index-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    overflow-y: scroll;
}  

#map-container {
  width: 55vw;
}

.welcome-banner {
  width: fit-content;
  height: 500px;
}

  .header-link {
    text-decoration: none;
  }


.button {
  background-color: $willow-blue;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  justify-content: center;
  border-radius: 3px;
  align-self: center;
  padding: 1px 8px 1px 8px;
  min-width: 100px;
  height: 26px;
  font: $functional-font;
}

.secondary-button {
    background-color: white;
    border: 1px solid $willow-blue;
    color: $willow-blue;
    text-align: center;
    padding: 10px 15px;
    font-size: 16px;
    justify-content: center;
    border-radius: 3px;
    align-self: center;
    padding: 1px 8px 1px 8px;
    min-width: 100px;
    height: 28px;
}