@import "variables";

.button {
  background-color: $willow-blue;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  justify-content: center;
  border-radius: 6px;
  align-self: center;
  padding: 1px 8px 1px 8px;
  min-width: 10vw;
  height: 35px;
  font-family: $functional-font;
  box-shadow: 0px 1px 4px -1px;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  border: 1px solid $willow-blue;
  color: $willow-blue;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  font-family: $functional-font;
  border-radius: 6px;
  align-self: center;
  padding: 1px 8px 1px 8px;
  min-width: 10vw;
  height: 35px;
  box-shadow: 0px 1px 4px -1px;
  cursor: pointer;
}

.secondary-button {
  background-color: white;
  border: 1px solid $willow-blue;
  color: $willow-blue;
  padding: 10px 15px;
  font-size: 16px;
  justify-content: center;
  border-radius: 6px;
  align-self: center;
  padding: 1px 8px 1px 8px;
  min-width: 10vw;
  height: 35px;
  font-family: $functional-font;
  box-shadow: 0px 1px 4px -1px;
  cursor: pointer;
}

.secondary-button:hover {
  background-color: $willow-blue;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  justify-content: center;
  border-radius: 6px;
  align-self: center;
  padding: 1px 8px 1px 8px;
  min-width: 10vw;
  height: 35px;
  font-family: $functional-font;
  box-shadow: 0px 1px 4px -1px;
  cursor: pointer;
}

.large-button {
  height: 40px;
  width: 70%;
}

.large-button:hover {
  height: 40px;
  width: 70%;
}

// .upload-button {
//   display: flex;
//   width: 30%;
//   align-self: center;
//   padding-left: 73px;
//   border: none;
// }

// .upload-button:hover {
//   display: flex;
//   width: 30%;
//   align-self: center;
//   padding-left: 73px;
// }
// .upload-button-container {
//   height: 9%;
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
// }

// .upload-button::-webkit-file-upload-button {
//   visibility: hidden;
// }

// .upload-button::before {
//   content: "Upload Images";
//   display: inline-block;
//   background-color: white;
//   border: 1px solid $willow-blue;
//   color: $willow-blue;
//   text-align: center;
//   padding: 10px 15px;
//   font-size: 14px;
//   font-family: $functional-font;
//   border-radius: 2px;
//   align-self: center;
//   padding: 1px 8px 1px 8px;
//   width: 82%;
//   height: 24px;
//   box-shadow: 0px 1px 4px -1px;
//   cursor: pointer;
// }

// .upload-button:hover::before {
//   content: "Upload Images";
//   display: inline-block;
//   background-color: white;
//   border: 1px solid $willow-blue;
//   color: $willow-blue;
//   text-align: center;
//   padding: 10px 15px;
//   font-size: 14px;
//   font-family: $functional-font;
//   border-radius: 2px;
//   align-self: center;
//   padding: 1px 8px 1px 8px;
//   width: 82%;
//   height: 24px;
//   box-shadow: 0px 1px 4px -1px;
//   cursor: pointer;
// }

#create-listing-button {
  width: 27%;
  height: 4%;
  position: absolute;
  bottom: 8%;
}

#user-listing-create {
  width: 35%;
}
