@import "variables";

.form-input-field-wrapper {
  position: absolute;
  top: 57%;
  left: 6.4%;
  width: 87vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-top: 1px solid white;
  padding-top: 15px;
  gap: 1%;
  z-index: 3;
}

.dropdown-item {
  color: grey;
}

#state {
  width: 5vw;
}

.trapezoid {
  height: 9vh;
  position: absolute;
  left: 4.95%;
  top: 39.7%;
}

.sell-form-header h3 {
  color: white;
  position: absolute;
  top: 54%;
  z-index: 3;
  font-weight: bold;
  left: 6.4%;
  padding: 0px 10px 9px 0px;
  padding-bottom: 9px;
  border-bottom: 1px solid white;
}

.sell-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.sell-form-footer h1 {
  font-weight: bold;
  font-size: 6vh;
  margin: 14vh;
}

.sell-form-icon {
  font-size: 12vh;
  color: rgb(140, 220, 40);
  padding-bottom: 2vh;
}

#footer-item {
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding-right: 5vh;
  padding-left: 5vh;
}

#footer-item p {
  font-weight: bold;
  font-size: 1.3rem;
}

.sell-form-footer-icon-container {
  display: flex;
  justify-content: space-between;
  width: 67vw;
}

.listing-create-form {
  width: 90vw;
}

.form-background {
  background: rgb(31, 124, 217);
  position: absolute;
  height: 23vh;
  width: 90vw;
  opacity: 0.9;
  z-index: 2;
  top: 48.8%;
}

.form-three-header {
  border-bottom: 1px solid lightgray;
  padding: 40px 15px 25px 0px;
  margin-left: 18px;
}

.form-three-header h1 {
  font-weight: bold;
  font-size: 44px;
  padding-bottom: 9px;
}

.form-three-header h3 {
  font-weight: bold;
  font-size: 22px;
}

.form-three h4 {
  font-size: 19px;
  padding: 33px;
}

.sale-by-owner-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

input,
textarea,
select {
  display: block;
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 9px;
  margin-top: 1px;
  padding: 15px 10px;
  border: 1px solid lightgray;
  font-size: inherit;
  font-family: inherit;
}

#continue-button {
  z-index: 3;
  color: white;
  font-size: 18px;
  width: 7vw;
  height: 6.5vh;
  border: none;
  border-radius: 7px;
  margin-top: 1px;
  background: $green;
}

#continue-button-2 {
  position: absolute;
  top: 36%;
  left: 20%;
  z-index: 3;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 10px 24px;
  background: $green;
}

#map {
  align-self: center;
  width: 95vw;
  height: 40vw;
}

#address {
  width: 30vw;
}

#city {
  width: 14vw;
}

.sell-form-house {
  width: 100%;
  height: 62vh;
  object-fit: cover;
  z-index: 1;
}
