@import 'variables';

.listing-grid-container {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.listing-index-item {
    font-family: $functional-font;    
    border-bottom: 4px solid $willow-blue;
    border-right: 0.5px solid #EAEAEA;
    border-left: 0.5px solid #EAEAEA;
    border-top: 0.5px solid #EAEAEA;
    box-shadow: 0 4px 2px -2px gray;

    h2 {
        font-size: 20px;
        font-weight: bold;  
    }

    .listing-card {
        display: flex;
        flex-direction: column;
        height: 35%;
        justify-content: space-between;
        padding: 7px 5px 1px 10px;
        letter-spacing: 0.2px;
    }
    
    .save-action {
        border: grey;
        font-size: 25px;
    }

}

// .card {
//     display: grid;
//     grid-template-rows: max-content 200px 1fr;
// }

.listing-index-item img {
    object-fit: cover;
    width: 100%;
    height: 60%;
}
    