.modal {
  position: absolute;
  margin: -10% auto;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  max-height: 100%;
  max-width: 100%;
  
}

.medium-modal {
  height: 450px;
  width: 340px;
  border-radius: 6px;
  padding: 20px;
}

.large-modal {
  height: 100vw;
  width: 77vw;
  margin-top: 0px;
}