@import "variables";

.nav-bar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  color: $willow-blue;
  font-family: $style-font;
  position: sticky;
  height: 5vh;
}

.main-logo {
  height: 7vh;
  position: absolute;
  top: 4px;
  right: 43%;
}

.my-saves-link {
  position: absolute;
  top: 46%;
  right: 10%;
  text-decoration: none;
}

.my-listings-link {
  position: absolute;
  top: 46%;
  right: 17%;
  text-decoration: none;
}

.nav-bar-options {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  color: #2d2d2d;
  position: absolute;
  top: 46%;
  left: 3%;
}

.nav-bar-link {
  padding-right: 75px;
  text-decoration: none;
}

.willow-icon {
  font-size: 34px;
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  h2 {
    margin-right: 15px;
    margin-top: 3px;
    align-self: center;
  }
}

.login-status {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.logout-button {
  position: absolute;
  top: 42%;
  right: 4%;
  background: none;
  border: none;
  padding: 0;
  color: #2d2d2d;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
