@import "variables";

.saves-houses-img {
  height: 38vh;
  width: 35vw;
  display: block;
  align-self: center;
  position: absolute;
  top: 70%;
}

.saves-page-text {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 33%;
  position: absolute;
  top: 109%;
}

.accreditation-link {
  font-size: 8px;
  text-decoration: none;
}

.saves-index-greeting {
  text-align: center;
  font-family: $functional-font;
  font-weight: 900;
  font-size: 40px;
  padding: 15px;
}

.saves-index-directions {
  text-align: center;
  font-family: $functional-font;
  font-size: 20px;
}

#instruction-heart {
  color: $willow-blue;
}

#saves-spinner {
  position: absolute;
  top: 73%;
}

.saves-grid-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  height: 100vh;
  width: 93vw;
  margin: auto;
}

.saves-index-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  overflow-y: auto;
  height: 100%;
}