$willow-blue: rgb(20, 110, 240);
$border-grey: rgb(200, 200, 200);
$font-black: rgb(45, 45, 45);
$green: rgb(62, 198, 82);
$style-font: 'Josefin Sans', sans-serif;
$functional-font: 'Open Sans', sans-serif;
