// $willow-blue: #3b55d5;
$willow-blue: rgba(19, 83, 245, 0.83);
$style-font: 'Josefin Sans', sans-serif;
$functional-font: 'Open Sans', sans-serif;
$outline-blue: rgb(56, 56, 160);
$border-grey: rgba(243, 243, 243, 0.906);
